.App{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;


  box-sizing: border-box;
  padding: 30px; /* +10px */

  /*border: 1px solid gray;*/

  display: flex;
  flex-direction: column;
  /*gap: 10px; !* - 10px *!*/

  background-color: white;
  border-radius: 10px;
}

.App h3 {
  color: rgb(91, 115, 227);
}


